.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3% 10%;
}

.movieApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.filterPart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
